name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  

jobs:
  build:
    env: 
      working-directory: ./client

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      working-directory: ${{ env.working-directory }}
      run: npm install
    
    - name: Build
      working-directory: ${{ env.working-directory }}
      run: npm run build
      
    - name: Test
      working-directory: ${{ env.working-directory }}
      run: npm test
